<html>
<head>
    <title>Add Category</title>
    <link href="bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container m-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Add Category</h1>
            <h2>Fill in category details & click submit</h2>
        </div>
    </div>
        <div class="container m-3">
            <form action="/add-category" method="post">
          
              <label for="name"> Name</label>
              <input type="text" name="name" placeholder="Enter category name">
          
              <label for="description">Description</label>
              <textarea type="text" name="description" placeholder="Write something.." style="height:200px"></textarea>

              <label for="image"> Name</label>
              <input type="text" name="image" placeholder="Enter statis source path">
          
              <input type="submit" class="btn btn-primary" value="Submit">
          
            </form>
          </div>
    </form>
</body>
</html>




