<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-image: url('/category.jpg')">
  <header style="margin-top: 50px; background-color: #caedba">
		<div class="container" style="display: flex; flex-direction: column; align-items: center;">
			<h1 class="my-1">Event Mangement App</h1>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center;">
			<h2 class="my-2">Admin Panel</h2>
		</div>
	</header>
        <div class="album py-5">
            <div class="container">
                <h3 class="my-2">List of Categories</h3>

                <div class="row row-cols-1 g-3">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            
                            <tbody>  <!--condition ? exprIfTrue : exprIfFalse-->
                              <% const categoriesToDisplay = filteredCategories.length > 0 ? filteredCategories: allCategories; %>
                                <% for (let i=0; i <categoriesToDisplay.length; i++){ %>
                                <tr>
                                <th scope="row"><%= categoriesToDisplay[i].id %></th>
                                <td><%= categoriesToDisplay[i].name %></td>
                                <td><%= categoriesToDisplay[i].description %></td>
                                <td><%= categoriesToDisplay[i].image %></td>
                                <td><%= categoriesToDisplay[i].createdAt.toLocaleString("en-GB")%></td>                  
                                <td><a type="button" class="btn btn-success" href="/">View</a></td>                  
                              </tr>
                              <% } %>
                            </tbody>
                          </table>

                    </div>
                </div>
                <a type="button" class="btn btn-success" href="/">Home</a>
                <a type="button" class="btn btn-success" href="/29678854/add-category">Add New Category</a>
                <a type="button" class="btn btn-success" href="/29678854/delete-category">Delete category</a>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
          <img src="/event-management.jpg" width="25%" height="80%" />
        </div>
</body>
</html>