<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-image: url('/category.jpg')">
	<header style="margin-top: 50px; background-color: #3b2b2e;">
		<div class="container" style="display: flex; flex-direction: column; align-items: center;">
			<h1 class="my-1" style="color: bisque;">🥨Event Mangement App🥨</h1>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center;">
			<h2 class="my-2" style="color: bisque" >Admin Panel</h2>
		</div>
	</header>
  <div class="album py-5">
    <div class="container">
        <h3 class="my-2" style="color: bisque; background-color: #3b2b2e;">🥯List of Categories</h3>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < allCategories.length; i++) { %>
                        <tr>
                            <th scope="row"><%= allCategories[i].id %></th>
                            <td><%= allCategories[i].name %></td>
                            <td><%= allCategories[i].description %></td>
                            <td>
                              <div>
                                <p style="justify-content: left; margin-bottom: -20px;"><%= allCategories[i].image %> </p>
                              <div style="display: flex; justify-content: right">
                                <img src="<%= allCategories[i].image %>" alt="<%= allCategories[i].image %>" width="45%" height="10%">
                              </div>  
                            </div>
                            </td>
                            <td><%= allCategories[i].createdAt.toLocaleString("en-GB") %></td>
                            <td><a type="button" class="btn btn-warning"
                                    href="../ChunLing/category/<%= allCategories[i].id %>">View</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <a type="button" class="btn btn-warning" href="/">Home</a>
        <a type="button" class="btn btn-warning" href="/29678854/add-category">Add New Category</a>
        <a type="button" class="btn btn-warning" href="/29678854/delete-category">Delete category</a>
    </div>
</div>
  <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
    <img src="/event-management.jpg" width="25%" height="80%" />
  </div>
</body>

</html>