<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
	<title>Event Page</title>
	<link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-image: url('/category.jpg')">
	<header>
		<div style="position: relative; display: flex; justify-content: center; align-items: center; height: 20vh; margin-bottom: 15px;">
			<img src="/green-banner1.jpg" width="50%" height="120%" />
			<h2 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 1; font-size: 70px; color: white; font-weight: bold;">Event Page</h2>
		</div>
	</header>
	<main>
		<div class="row row-cols-1 row-cols-sm-2 g-3" class="container"
			style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<form action="/29678854/event/:id" >
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Event ID</strong></label>
								<div>
									<%= event.id%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Name</strong></label>
								<div>
									<%= event.name%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Description</strong></label>
								<div>
									<%= event.description%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Start Date Time</strong></label>
								<div>
									<%= event.startDateTime%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>End Date Time</strong></label>
								<div>
									<%= event.endDateTime%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Duration</strong></label>
								<div>
									<%= event.duration%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>is Active</strong></label>
								<div>
									<input type="checkbox" <%= event.isActive ? 'checked' : '' %> disabled>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Capacity</strong></label>
								<div>
									<%= event.capacity%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Tickets Available</strong></label>
								<div>
									<%= event.ticketsAvailable%>
								</div>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Category ID</strong></label>
								<div>
									<%= event.categoryID%>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<a type="button" class="btn btn-success" href="/">Home</a>
		</div>
		<div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
			<img src="/event-management.jpg" width="25%" height="80%" />
		  </div>
	</main>
</body>

</html>
