<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
	<title>Add Category Page</title>
	<link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-image: url('/category.jpg')">
	<header>
		<div style="display: flex; justify-content: center; align-items: center; height: 20vh; margin-bottom: 40px;">
			<img src="/green-banner.jpg" width="49%" height="160%" />
		  </div>
	</header>
	<main>
		<div class="row row-cols-1 row-cols-sm-2 g-3" class="container"
			style="display: flex; flex-direction: column; align-items: center;">
			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<form action="/29678854/events/:id" >
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Event ID</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Name</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Description</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Start Date Time</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>End Date Time</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Duration</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>is Active</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Capacity</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Tickets Available</strong></label>
							</div>
							<div class="mb-3">
								<label for="name" class="form-label"><strong>Category ID</strong></label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<a type="button" class="btn btn-success" href="/">Home</a>
		</div>
		<div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
			<img src="/event-management.jpg" width="25%" height="80%" />
		  </div>
	</main>
</body>

</html>
