<!DOCTYPE html>
<html lang="en">

<!------------------------- head ---------------------------------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!------------- style ----------------->
    <style>
        body {
            background-color: #25292e;
        }

        .navbar-nav a {
            color: white;
            text-decoration: none;
            transition: color 0.3s, border 0.3s; 
        }
    
        .navbar-nav a:hover {
            text-decoration: underline;
            font-weight: bold;
            border: 1px solid rgba(200, 200, 200, 0.5); 
            border-radius: 5px;
        }

        .masthead {
            position: relative;
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .site-heading h1 {
            color: white;
            font-weight: bold;
            font-size: 3rem;
        }

        .form-control {
            background-color: #e5e5e5;
        }

    </style>

</head>

<!------------------------- body ---------------------------------->
<body>
    
    <!------------- nav bar ----------------->
    <nav id="mainNav" class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand" href="../" style="font-weight: bold; color: white;">Cosmos Team</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div id="navbarResponsive" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../" style="color: white;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../ChunLing/delete" style="color: white;">Delete Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="../ChunLing/events" style="color: white;">Event List</a></li>
                    <li class="nav-item"><a class="nav-link" href="../ChunLing/sold-out-events" style="color: white;">Sold Out Event</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!------------- header ----------------->
    <header class="masthead" style="position: relative; background-image: url('/event.jpeg'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative text-center">
                    <div class="site-heading">
                        <h1>Add Event</h1>
                        <span class="subheading" style="color: white;">Fill in event details &amp; click submit</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!------------- form ----------------->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="p-4 bg-light rounded">
                    <form action="/ChunLing/add-event" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required placeholder="Enter event name">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description (up to 3 lines):</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder=""></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input type="text" class="form-control" id="image" name="image" placeholder="Enter static source path">
                        </div>
                        <div class="mb-3">
                            <label for="startDateTime" class="form-label">Start Date and Time:</label>
                            <input type="datetime-local" class="form-control" id="startDateTime" name="startDateTime" required>
                        </div>
                        <div class="mb-3">
                            <label for="duration" class="form-label">Duration In Minutes:</label>
                            <input type="number" class="form-control" id="duration" name="duration" required placeholder="Event duration in Minutes">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">End Date and Time:</label>
                            <input type="text" class="form-control" id="endDateTime" name="endDateTime" disabled>
                        </div>            
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isActive" name="isActive">
                                <label class="form-check-label" for="isActive">Is Active</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="capacity" class="form-label">Capacity:</label>
                            <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Event Capacity">
                        </div>
                        <div class="mb-3">
                            <label for="ticketsAvailable" class="form-label">Ticket Available:</label>
                            <input type="number" class="form-control" id="ticketsAvailable" name="ticketsAvailable" placeholder="Ticket Available (optional)">
                        </div>
                        <div class="mb-3">
                            <label for="categoryID" class="form-label">Category Id:</label>
                            <input type="text" class="form-control" id="categoryID" name="categoryID" required placeholder="Enter Category Id">
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: #343a40;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!------------- footer ----------------->
    <footer class="mt-5 text-center" style="color: #e0dfdf;">
        <p>See more <a href="../cosmos" style="color: white; text-decoration: underline;">@cosmos team</a></p>
    </footer>    

    <!------------- script for nav bar and data time (js) ----------------->
    <script src="/effects/navBar.js"></script>
    <script>
    
    /**
     * Below part is to show to user the end date-time
     */
    // Get input element
    const startDateTimeInput = document.getElementById('startDateTime');
    const durationInput = document.getElementById('duration');
    const endDateTimeInput = document.getElementById('endDateTime');

    startDateTimeInput.addEventListener('input', calculateEndTime);
    durationInput.addEventListener('input', calculateEndTime);

    // Function to calculate and set the end date-time
    function calculateEndTime() {
        const startDateTimeValue = new Date(startDateTimeInput.value);
        const durationValue = parseInt(durationInput.value);

        if (!isNaN(startDateTimeValue) && !isNaN(durationValue)) {
            const endTime = new Date(startDateTimeValue.getTime() + (durationValue * 60000)); // Convert duration to milliseconds
            const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true };
            const endTimeString = endTime.toLocaleString('en-US', options);
            endDateTimeInput.value = endTimeString;
        } else {
            endDateTimeInput.value = '';
        }
    }
    </script>
</body>
</html>
